<template name="authenticatedNavigation">
  <ul class="nav navbar-nav">
    {{#if isInRole 'admin'}}
      <li class="{{currentRoute 'users-administration'}}"><a href="{{pathFor 'users-administration'}}">Users Admin</a></li>
      <li class="{{currentRoute 'pdfs-management'}}"><a href="{{pathFor 'pdfs-management'}}">PDFs Management</a></li>
      <li class="{{currentRoute 'form-fields-management'}}"><a href="{{pathFor 'form-fields-management'}}">Form Fields Management</a></li>
    {{/if}}
    {{#if isInRole 'manager'}}
      <li class="{{currentRoute 'pdfs-management'}}"><a href="{{pathFor 'pdfs-management'}}">PDFs Management</a></li>
      <li class="{{currentRoute 'form-fields-management'}}"><a href="{{pathFor 'form-fields-management'}}">Form Fields Management</a></li>
    {{/if}}
    <li class="{{currentRoute 'fill-and-generate'}}"><a href="{{pathFor 'fill-and-generate'}}">Fill And Generate</a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{currentUser.emails.[0].address}} <span class="caret"></span></a>
      <ul class="dropdown-menu" role="menu">
        <li class="logout"><a href="#">Logout</a></li>
      </ul>
    </li>
  </ul>
</template>
